fixtures/simple-flow.json
[
    {
        "id": "main.flow",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "test.flow",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eacbb9ef.69d5c8",
        "type": "EventListener",
        "z": "main.flow",
        "name": "GET /hello",
        "provider": "aws",
        "eventSource": "api",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/hello",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "x": 72.5,
        "y": 195,
        "wires": [
            [
                "3071b60b.04eb5a"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "5eb3cd61.894f04",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log",
        "level": "INFO",
        "message": "Request received",
        "x": 382.5,
        "y": 60,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "b5fc6ccd.17dd7",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"hello\": \"world\"}",
        "x": 682.5,
        "y": 60,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "b970b7d2.5454c8",
        "type": "Assertion",
        "z": "test.flow",
        "name": "check response",
        "selector": "jsonBody",
        "property": "hello",
        "comparison": "equals",
        "value": "world",
        "x": 167.5,
        "y": 72.5,
        "wires": [
            [
                "e0721cc7.653eb"
            ]
        ],
        "caname": "test-assertion",
        "category": "testing"
    },
    {
        "id": "e0721cc7.653eb",
        "type": "TestCaseEnd",
        "z": "test.flow",
        "name": "TestCaseEnd",
        "x": 262.5,
        "y": 72.5,
        "wires": [],
        "caname": "test-case-end",
        "category": "testing"
    },
    {
        "id": "e8fb91dc.46c24",
        "type": "HTTPTestCase",
        "z": "test.flow",
        "name": "HTTPTestCase",
        "method": "GET",
        "path": "/hello",
        "headers": {
            "Accept": "application/json"
        },
        "authtype": "none",
        "secUser": "",
        "secPassword": "",
        "secToken": "",
        "payload": "",
        "x": 72.5,
        "y": 72.5,
        "wires": [
            [
                "b970b7d2.5454c8"
            ]
        ],
        "caname": "http-test-case",
        "category": "testing"
    },
    {
        "id": "3071b60b.04eb5a",
        "type": "Switch",
        "z": "main.flow",
        "name": "Switch",
        "property": "vars.x",
        "propertyType": "",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "repair": false,
        "outputs": 2,
        "x": 182.5,
        "y": 280,
        "wires": [
            [
                "5eb3cd61.894f04"
            ],
            [
                "a5b178bb.3e9bb8"
            ]
        ],
        "caname": "switch",
        "category": "routing"
    },
    {
        "id": "a5b178bb.3e9bb8",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log",
        "level": "INFO",
        "message": "Request received",
        "x": 342.5,
        "y": 200,
        "wires": [
            [
                "10d7c0ff.662b8f"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "10d7c0ff.662b8f",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success2",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"hello\": \"world\"}",
        "x": 562.5,
        "y": 180,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "b4ec1e44.52965",
        "type": "catch",
        "z": "main.flow",
        "name": "catch",
        "scope": null,
        "uncaught": false,
        "x": 502.5,
        "y": 340,
        "wires": [
            [
                "35bcc0cb.47ab"
            ]
        ],
        "caname": "catch",
        "category": "exception"
    },
    {
        "id": "35bcc0cb.47ab",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Error",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "\"Error Found\"",
        "x": 722.5,
        "y": 380,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "e1b77dda.4998d",
        "type": "Assertion",
        "z": "test.flow",
        "name": "check response",
        "selector": "jsonBody",
        "property": "hello",
        "comparison": "equals",
        "value": "world",
        "x": 167.5,
        "y": 317.5,
        "wires": [
            [
                "be93f3d6.6abf2"
            ]
        ],
        "caname": "test-assertion",
        "category": "testing"
    },
    {
        "id": "be93f3d6.6abf2",
        "type": "TestCaseEnd",
        "z": "test.flow",
        "name": "TestCaseEnd",
        "x": 262.5,
        "y": 317.5,
        "wires": [],
        "caname": "test-case-end",
        "category": "testing"
    },
    {
        "id": "560cb212.fa1a8c",
        "type": "HTTPTestCase",
        "z": "test.flow",
        "name": "HTTPTestCase2",
        "method": "GET",
        "path": "/hello",
        "headers": {
            "Accept": "application/json"
        },
        "authtype": "none",
        "secUser": "",
        "secPassword": "",
        "secToken": "",
        "payload": "",
        "x": 72.5,
        "y": 317.5,
        "wires": [
            [
                "e1b77dda.4998d"
            ]
        ],
        "caname": "http-test-case",
        "category": "testing"
    }
]